.git
.gitignore
.env.example
.env.*.local
node_modules
npm-debug.log
.vscode
.idea
*.iml
.DS_Store
*.log
*.swp
*.swo
*~
.sass-cache
.cache
vendor/.git
bootstrap/cache/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
